:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--black);
  background-color: var(--white);
  font-family: system-ui;
  background-color: #fdfff4;
  background-image: url(/img/topography.svg);
}

p {
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1 {
    /*font-size: 4.242rem;
  line-height: 4.5rem;*/
    font-size: 2.828rem;
    line-height: 3rem;
  margin-top: 3rem;
}
h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}
h3 {
  font-size: 1.414rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}

p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}





main {
  padding: 1.5rem;
}
main :first-child {
  margin-top: 0;
}



pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}



/* Nav */
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}



.post-tag:before {
  content: "#";
  color: #555;
}

.post-tag {
  text-decoration: none;
  color: #555;
}

.post-tag:hover {
  text-decoration: underline;
}


/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}


.item {
    border: 1px solid #888;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 5px;
}

#main {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 37.5rem) 1fr;
}

#main > aside {
    grid-column: 1;
    grid-row: 2 / span 2;
}

#main > main {
    grid-column: 2;
}

.lite {
    text-decoration: none;
    color: inherit;
}

.lite:hover {
    text-decoration: underline dotted;
    color: inherit;
}


.readon {
    padding: 1.5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-column: 1 / -1 !important;
}

.author-bio {
    display: flex;
    flex-direction: row;
}

.author-bio < p {
    flex: 1 1 auto;
}

.author-pic {
    padding-right: 0.75rem;
    width: 7.5rem;
    flex: 0 0 auto;
    align-self: center;
}

main.tmpl-post {
    display: contents;
    grid-template-columns: subgrid;
}

main.tmpl-post > * {
    grid-column: 2;
}

.tmpl-home > main {
    display: contents;
}

.tmpl-home > main > header {
    grid-column: 1/-1;
    justify-self: center;
}

.tmpl-home > main .postslist > :first-child {
    grid-column: 1/-1;
    max-width: 36rem;
    margin-bottom: 2rem;
    justify-self: center;
}

.tmpl-home > main .postslist > article {
    border: 1px solid #888;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 5px;
}

.tmpl-home > main > .postslist {
    display: contents;
}

#main.tmpl-home {
    padding: min(1vh, 1rem) min(1vw, 1rem);
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 1.5rem;
}
