.heading {
  margin: 0;
  font-weight: 700;
  font-size: 4rem;
  color: #333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.small {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.tagline {
  margin: 0;
  font-style: italic;
  font-weight: 300;
  font-size: 1.25rem;
  color: #999;
  letter-spacing: 0.02em;
}

.link {
  margin-right: 1em;
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.link:hover {
  border-color: #333;
}