<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
    <script defer>mermaid.initialize({ startOnLoad: true });</script>
    {% metagen
    title=title or metadata.title + " - William Rudnmalm's blog,
    desc=cescription or metadata.description,
    url=metadata.url + page.url,
    img=image,
    img_alt=image_alt,
    twitterHandle=metadata.twitter_handle,
    name=author.name or metadata.author.name
    %}
  </head>
  <body>
    <div id="main" class="{{ templateClass }}">
      {{ content | safe }}
    </div>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
