---
layout: layouts/base.njk
templateClass: tmpl-post
---
<aside>
  <a href="/" class="lite"><h3>{{ metadata.title }}</h3></a>
  <p>{{ metadata.description }}</p>
  <nav>
    <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
      <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
    </ul>
  </nav>
</aside>


<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
  <h1>{{ title }}</h1>
  {{ content | safe }}
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  <section class="author-bio">
    <img class="author-pic" src="{{ metadata.author.pic}}" alt="A picture of {{ metadata.author.name }}" />
    <p>{{metadata.author.name }} {{ metadata.aboutAuthor}}</p>
  </section>
  <aside class="readon">

    {%- if nextPost %}
    <section class="item">
      <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
      <p>{{ nextPost.data.description }}</p>
    </section>
    {% endif %}
    {%- if previousPost %}
    <section class="item">
      <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
      <p>{{ previousPost.data.description }}</p>
    </section>
    {% endif %}
  </aside>
</main>
</div>
