---
layout: layouts/base.njk
templateClass: tmpl-post
---
<aside>
  <h3>{{ metadata.title }}</h3>
  <p>{{ metadata.description }}</p>
  <nav>
    <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
      <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
    </ul>
  </nav>
</aside>


<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
  <h1>{{ title }}</h1>
  {{ content | safe }}
  <hr>
  <ul>
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
  </ul>
</main>
</div>
